
<div class="grid grid--uniform grid--view-items" style="padding:30px;">
  {% for product in collections.all.products %}
    {% if product.available %}
  <div class="grid__item grid__item--collection-template small--one-half medium-up--one-quarter">
    <div class="grid-view-item">
      <a class="grid-view-item__link" href="{{ product.url }}">
        <img class="grid-view-item__image" src="{{ product | img_url: '250x250' }}" >
        <div class="h4 grid-view-item__title">{{ product.title }}</div>
        <div class="grid-view-item__meta">
          <!-- snippet/product-price.liquid -->
          <span class="visually-hidden">Regular price</span>
          <span class="product-price__price">{{ product.price }}</span>
        </div>
      </a>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
